body {
    background-color: #131515;
    font-family: Arial, sans-serif;
    color: #fffafb;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

center {
    background-color: #2b2c28;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 400px;
}

h2 {
    color: #ffde59;
}

#name-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input {
    padding: 10px;
    border: 2px solid #ffde59; /* Outline color */
    border-radius: 5px;
    outline: none; /* Remove default outline */
    transition: border 0.3s;
}

input:focus {
    border-color: #ffc107; /* Change outline color on focus */
}

button {
    background-color: #ffde59;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    margin-top: 10px;
}

button:hover {
    background-color: #ffc107;
}

.game-buttons {
    margin: 20px 0;
}

#score-tracker {
    margin-top: 20px;
}

#achievement-section {
    text-align: center;
}

.star {
    color: gold;
    margin: 0 2px;
}

#final-score {
    margin-top: 20px;
}

@media (max-width: 768px) {
    body {
        padding: 20px;
        background-color: #f4f4f9;
    }

    center {
        width: 90%;
        padding: 15px;
    }

    button {
        padding: 12px 20px;
        font-size: 18px;
        width: 100%;
        margin: 10px 0;
        border-radius: 8px;
    }

    #Moves, #Results, #scores, #Attempts {
        font-size: 18px;
        margin-top: 10px;
    }

    #Results {
        padding: 15px;
    }

    #captureTemplate {
        padding: 15px;
    }

    h1, h2 {
        font-size: 26px;
    }

    button i {
        margin-right: 8px;
    }
}
